<launch>
    <param name="joy_node/dev" value="/dev/input/js0"/>
    <node pkg="joy" type="joy_node" name="joy"/>
    <node pkg="connected_bot_app" type="joystick_node.py" name="joystick_node"/>
    <node pkg="connected_bot_app" type="show_robot_camera_node" name="show_robot_camera_node" cwd="node" args="_image_transport:=compressed _image_topic:=/raspi_camera/image_raw/compressed"/>
    
    <group>
        <machine name="raspi3" address="raspi3" env-loader="~/.ros_setup.sh" default="true"/>
        <include file="src/connected_bot_app/launch/raspi_camera.launch"/>
        <!--include file="src/connected_bot_app/launch/webcam.launch"/-->
        <node pkg="rosserial_python" type="serial_node.py" name="serial" args="/dev/ttyUSB0" machine="raspi3"/>
    </group>
</launch>